@charset "UTF-8";
/*
--- 01-TYPOGRAPHY 

-FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-Font weights
Default: 400
Medium:500
Semi-bold:600
Bold:700


-Line Heights
Default :1
Small : 1.05
Medium : 1.2
Paragraph Default : 1.6


-Letter spacing
-0.5px
0.75px
-SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #6d5d4b;
  font-weight: 600;
  background-image: url("/img/logo/Logo_AD.png");
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(241, 243, 245, 0.96)), url("/img/logo/Logo_AD.png");
  background-position: center;
  background-size: 220rem;
  background-repeat: no-repeat;
}

.container {
  /* 1140px */
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  margin-bottom: 9.6rem;
}

.heading-secondary {
  display: flex;
  min-height: auto;
  width: max-content;
  padding: 1rem;
  background-color: #eedd1c;
  color: #054965;
  font-size: 1rem;
  font-weight: 700;
  align-items: center;
  margin-bottom: 2.4rem;
  justify-content: center;
  text-align: center;
}

.heading-secondary-u {
  display: flex;
  min-height: auto;
  width: max-content;
  padding: 1rem;
  color: #dc4727;
  font-size: 1.8rem;
  font-weight: 100;
  align-items: center;
  margin-bottom: 2.4rem;
  justify-content: center;
  text-align: center;
  font-family: "Momo Trust Display", sans-serif;
}

.section-about {
  padding: 12rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-product {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12rem 0;
}

.section-testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16rem 0;
}

.sub-heading {
  padding-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
}

.nav-link {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

.nav-link.active {
  font-weight: 700;
  border-bottom: 2px solid;
}

.inc-error {
  color: #b00;
  padding: 0.5rem;
  background: #fee;
}

.noscript-warning {
  background: #ffd;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  padding: 0 4.8rem;
  color: #101d2c;
  position: relative;
  background-color: #fff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.logo {
  height: 8rem;
}

.main_nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}
.main_nav-link:link, .main_nav-link:visited {
  text-decoration: none;
  color: #07171e;
  font-weight: 500;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}
.nav-cta:link,
.nav-cta:visited {
  padding: 0.2em 0.5rem;
  font-size: 1.6rem;
  color: #dc4727;
  font-family: "Momo Trust Display", sans-serif;
  border-bottom: 0.4px solid transparent;
  font-weight: 300;
  transition: all 0.4s;
  margin-left: 32rem;
}
.nav-cta:link:hover,
.nav-cta:visited:hover {
  transform: translateY(1);
  border-bottom: 0.5px solid #054965;
}

.nav-icon {
  height: 1.5rem;
  width: 1.5rem;
  fill: #101d2c;
}

.main-nav-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 6px 10px;
  border-radius: 8px;
  transition: all 0.5s;
}
.main-nav-item:not(:last-child):hover {
  border-color: #054965;
  background-color: rgba(166, 211, 230, 0.281);
  transform: scale(0.9);
}

/*MOBILE NAVIGATION*/
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name=close-outline] {
  display: none;
}

.testimonials {
  height: 16rem;
  width: 32rem;
  flex: 0 0 32rem;
}
.testimonials-container {
  display: flex;
  padding: 4rem;
  overflow-x: auto;
  margin-bottom: 4rem;
  width: 90%;
  overflow: hidden;
}
.testimonials-container::-webkit-scrollbar {
  display: none;
}
.testimonials-container-anumation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  animation: spin 20s infinite linear;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

.review {
  background-color: #fff;
  box-shadow: var(#054965);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  border-right: 2px solid #dc4727;
  border-bottom: 2px solid #dc4727;
  border-left: 2px solid #efb671;
  border-top: 2px solid #efb671;
  transition: all 0.2s;
}
.review:hover {
  border-left: 2px solid #dc4727;
  border-top: 2px solid #dc4727;
}
.review__text {
  margin-bottom: 6rem;
  z-index: 10;
  position: relative;
}
.review__user {
  display: flex;
  align-items: center;
}
.review__photo {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.review__user-box {
  margin-right: auto;
}
.review__user-name {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
}
.review__user-date {
  color: var(#054965);
}
.review__rating {
  color: var(rgba(40, 154, 201, 0.42));
  font-size: 2.2rem;
  font-weight: 200;
  z-index: 10;
}
.review::before {
  content: "“";
  position: absolute;
  top: -0.2rem;
  left: 0.4rem;
  line-height: 1;
  font-size: 10rem;
  color: #aaaaa4;
  font-family: "Catamaran", sans-serif;
  z-index: 1;
  font-weight: 100;
}
.review:hover {
  transform: rotate(1px);
}

@keyframes spin {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.heading-secondar-align {
  align-self: flex-start;
  margin-left: 8rem;
}

.services-container {
  display: flex;
  gap: 10rem;
}
.services {
  height: 48rem;
  width: 32rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}
.services:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transform: translateY(-0.5px);
  transform: translateY(-0.1rem) scale(1);
}
.services-img-fig {
  object-fit: contain;
  overflow: hidden;
}
.services-img {
  height: 24rem;
  width: 100%;
}
.services-details {
  padding: 2.2rem;
}
.services-details-heading {
  font-size: 1.8rem;
  padding-bottom: 2.2rem;
  font-family: "Momo Trust Display", sans-serif;
  color: #07171e;
  font-weight: 300;
}
.services-details-para {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.5176470588);
}

.about-para {
  padding: 2rem;
}

.section-hero {
  background-color: #fdf2e9;
  height: 86vh;
  margin-top: 7rem;
  z-index: 1;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  text-align: left;
  z-index: 5;
  max-width: 60rem;
}

.hero-heading {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 4.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(to right, rgba(40, 154, 201, 0.42), rgb(40, 154, 201));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Momo Trust Display", sans-serif;
}

.hero-subheading {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 5.2rem;
  opacity: 0.95;
  color: #000;
}

.btn-hero {
  display: inline-block;
  padding: 1.5rem 3rem;
  background-color: rgba(234, 94, 63, 0.8549019608);
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 300;
  border-radius: 5px;
  transition: all 0.3s;
  font-family: "Momo Trust Display", sans-serif;
}
.btn-hero:hover {
  background-color: #dc4727;
}

/* SLIDER */
.slider {
  height: 90vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.881) 0%, rgba(255, 255, 255, 0.063) 100%);
  z-index: 1;
  pointer-events: none;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: linear-gradient(to right, rgba(40, 154, 201, 0.42), rgb(40, 154, 201));
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: rgba(49, 41, 41, 0.232);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 3.2rem;
  width: 3.2rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #fff;
  opacity: 1;
}

.home-icon {
  height: 1.8rem;
  width: 1.8rem;
  fill: #fff;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background: linear-gradient(to right, rgba(198, 214, 222, 0.959), rgb(69, 139, 169));
  color: rgba(7, 23, 30, 0.0666666667);
}

.footer-form {
  display: flex;
}

/******************/
/*Footer Connect**/
/*****************/
.footer-connect {
  height: 80px;
  display: flex;
  justify-content: space-between; /* center the inner box horizontally */
  align-items: center;
  gap: 22rem;
  padding: 4rem 20rem;
  padding-top: 4rem;
  font-size: 1.4rem;
  border-bottom: 0.1rem solid rgba(236, 232, 232, 0.3294117647);
}
.footer-connect-form {
  display: flex;
  justify-content: center; /* center the inner box horizontally */
  align-items: center;
  gap: 1rem;
  flex: 0 0 40%;
}
.footer-connect-form-input {
  border: none;
  padding: 0.2rem 1rem;
  font-family: inherit;
  color: inherit;
  width: 32rem;
  transition: all 0.2s;
  margin-right: -12rem;
}
.footer-connect-form-input:focus {
  outline: none;
}
.footer-connect-form > span {
  text-transform: uppercase;
  color: rgba(7, 23, 30, 0.5176470588);
  font-size: 1.4rem;
  width: 24rem;
}
.footer-connect-form-submit {
  font-family: inherit;
  color: rgba(7, 23, 30, 0.5176470588);
  border: none;
  padding: 0.7rem 2rem;
  align-items: center;
  background: none;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  gap: 0.4rem;
}
.footer-connect-form-submit svg {
  transition: margin-left 0.2s;
}
.footer-connect-form-submit:focus {
  outline: none;
}
.footer-connect-form-submit:hover {
  color: #dc4727;
}
.footer-connect-form-submit:hover svg {
  fill: #dc4727;
  margin-left: 0.1rem;
}
.footer-connect-links {
  display: flex;
  gap: 1rem;
}
.footer-connect-links > span {
  text-transform: uppercase;
  color: rgba(7, 23, 30, 0.5176470588);
  font-size: 1.4rem;
}
.footer-connect-links-icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.footer-connect-links-social {
  font-size: 1.4rem;
}

.nav-icon-sub:hover {
  fill: #dc4727;
}

.nav-icon-social {
  height: 1.5rem;
  width: 1.5rem;
}
.nav-icon-social:hover {
  cursor: pointer;
  fill: rgba(7, 23, 30, 0.5176470588);
  transform: scale(1);
}

.nav-icon-sub {
  height: 1rem;
  width: 1rem;
  fill: #6d5d4b;
}

/******************/
/**Footer Main**/
/*****************/
.footer-main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  font-size: 1.4rem;
  grid-column-gap: 1rem;
  padding: 4rem 20rem;
  grid-row-gap: 1rem;
  color: rgba(7, 23, 30, 0.5176470588);
}
.footer-main > div {
  align-items: center;
  justify-self: self-center;
  align-self: self-start;
  color: rgba(7, 23, 30, 0.5843137255);
  align-items: center;
}
.footer-main-img-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem !important;
}
.footer-main-img-grid > div {
  background-color: #000;
  overflow: hidden;
}
.footer-main-img {
  transition: all 0.2s;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: fill;
}
.footer-main-img-insta-icon {
  position: relative;
  opacity: 0;
}
.footer-main-img:hover {
  filter: blur(1px) brightness(80%);
}

.nav-icon-social-overlay {
  fill: rgba(255, 255, 255, 0.5725490196);
  height: 2.4rem;
  width: 2.4rem;
  position: absolute;
  top: 2.4rem;
  left: 2.4rem;
}

.image-container {
  position: relative;
  object-fit: cover;
  padding: auto;
  height: 7rem;
  width: 7rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 1.6rem;
}

.image-container:hover .overlay {
  opacity: 1;
}

.image-container:hover .footer-main-img {
  transform: scale(1);
  filter: blur(3px) brightness(80%);
}

.heading {
  padding-top: 1.4rem;
}

.footer-logo {
  height: 4rem;
}

.footer-nav {
  list-style: none;
}
.footer-nav li:not(:last-child) {
  padding-bottom: 1rem;
}

.footer-link {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgba(7, 23, 30, 0.5176470588);
}

/******************/
/**Footer End**/
/*****************/
.footer-end {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  padding: 0rem 20rem;
  align-items: center;
  background-color: rgba(69, 139, 169, 0.189);
}
.footer-end-copyright {
  font-size: 1.4rem;
  color: rgba(7, 23, 30, 0.5176470588);
}
.footer-end-cards {
  padding-right: 1rem;
  display: flex;
  gap: 1rem;
}
.footer-end-img {
  height: 3rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  object-position: center;
  object-fit: fill;
}

.section-product-heading {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  padding-bottom: 2rem;
}

.product-category {
  position: relative;
}
.product-category-container {
  display: flex;
  padding: 2rem;
  gap: 4rem;
}
.product-category > img {
  height: 18rem;
  width: 18rem;
}
.product-category__img {
  backface-visibility: hidden;
  transition: all 0.5s;
}
.product-category__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  backface-visibility: hidden;
}
.product-category__caption__para {
  font-size: 1rem;
  font-weight: 300;
  padding-top: 1rem;
}
.product-category:hover .product-category__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.product-category:hover .product-category__img {
  transform: scale(1);
  filter: blur(3px) brightness(80%);
}

/********************/
/*FEATURED-IN SECTION*/
/********************/
.section-featured {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5.2rem;
}

.heading-featured-in {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  gap: 4.8rem;
  justify-content: space-around;
}

.logos img {
  height: 2.8rem;
  filter: brightness(0);
  opacity: 40%;
}

.section-about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-about-img {
  height: 24rem;
  width: 24rem;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.section-about-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 24rem;
  width: 86rem;
  padding: 2rem 4rem;
  padding-bottom: 2rem;
  align-items: start;
  justify-content: start;
  color: black;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  margin: 0 2rem;
  border: 0.1px solid rgba(0, 0, 0, 0.0941176471);
}
.section-about-content--tag {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 300;
}
.section-about-content--main {
  font-size: 1.4rem;
  font-weight: 400;
}
.section-about-content--sub {
  color: #000;
  font-weight: 400;
  font-size: 1.2rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.moveInRight {
  animation-name: moveInRight;
  animation-duration: 2.4s;
  animation-timing-function: ease-out;
}

.moveInLeft {
  animation-name: moveInLeft;
  animation-duration: 2.4s;
  animation-timing-function: ease-out;
}

.hidden {
  opacity: 0;
}

/********************/
/*BELOW 1344PX (Smaller Desktop)*/
/********************/
@media (max-width: 84em) {
  .slider {
    height: 74vh;
  }
  .section-hero {
    height: 74vh;
  }
}
/********************/
/*BELOW 1200PX (Tablet in orientation of landscape)*/
/********************/
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .hero-heading {
    font-size: 3.5rem;
  }
  .hero-subheading {
    font-size: 1.6rem;
  }
  .hero-content {
    padding: 2rem 3rem;
  }
  .footer-connect {
    gap: 8rem;
  }
  body {
    background-size: 180rem;
  }
}
/********************/
/*BELOW 1100PX (Tablet in orientation of landscape)*/
/********************/
@media (max-width: 69em) {
  html {
    font-size: 50%;
  }
}
/********************/
/*BELOW 944PX (Tablet in orientation of landscape)*/
/********************/
@media (max-width: 59em) {
  html {
    font-size: 40%;
  }
  .main_nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .nav-open .main_nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .icon-mobile-nav[name=close-outline] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name=menu-outline] {
    display: none;
  }
  .main_nav-list {
    flex-direction: column;
    gap: 4.8rem;
    justify-content: center;
  }
  /*Mobile Navigation*/
  .btn-mobile-nav {
    display: block;
  }
  .footer-connect {
    padding: 0rem 16rem;
    justify-content: start;
    height: 60px;
    gap: 20px;
  }
  .footer-connect-form {
    gap: 1rem;
    flex: 0 0 50%;
    padding-right: 8rem;
  }
  .footer-connect-form-input {
    width: 62rem;
    font-size: 1.2rem;
  }
  .footer-connect-form-submit {
    font-size: 1.2rem;
  }
  .footer-connect-form-discount {
    display: none;
  }
  .footer-connect-links-social {
    display: none;
  }
  .footer-connect-links-icons {
    gap: 2.8rem;
  }
  .nav-icon-social {
    height: 2.4rem;
    width: 2.4rem;
  }
  .footer-main {
    padding: 4rem 16rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  .footer-main-img-grid {
    grid-column: 1/-1;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  .footer-main-img-grid > div {
    height: 12rem;
    width: 12rem;
  }
  .hide {
    display: none;
  }
  .footer-end {
    padding: 0rem 16rem;
  }
}

/*# sourceMappingURL=style.css.map */
