// COLOR VARIABLES
$color-primary: rgba(40, 154, 201, 0.42);
$color-primary-dark: rgb(40, 154, 201);

$button: #054965;
$color-secondary: #101d2c;

$color-primary1: #efb671;
$color-primary1-dark: #dc4727;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-light-3: #f4f2f2;
$color-grey-dark-3: #054965;
$shadow-light: #054965;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: "Montserrat", sans-serif;
$font-display: "Josefin Sans", sans-serif;
/*
--- 01-TYPOGRAPHY 

-FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
   
-Font weights
Default: 400
Medium:500
Semi-bold:600
Bold:700


-Line Heights
Default :1
Small : 1.05
Medium : 1.2
Paragraph Default : 1.6


-Letter spacing
-0.5px
0.75px
-SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 600;
}

.container {
  /* 1140px */
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  margin-bottom: 9.6rem;
}

.heading-secondary {
  display: flex;
  min-height: auto;
  width: max-content;
  padding: 1rem;
  background-color: #eedd1c;
  color: $button;
  font-size: 1rem;
  font-weight: 700;
  align-items: center;
  margin-bottom: 2.4rem;
  justify-content: center;
  text-align: center;
  border-radius: 1rem;
}

.section-about {
  padding: 4rem 0;
  display: flex;
}

.section-product {
  padding: 4rem;
}

.section-services {
  padding: 4rem;
}
.section-testimonials {
  padding: 4rem;
}
