.services {
  &-container {
    display: flex;
    // flex-direction: row;
    // flex-wrap: nowrap;
    gap: 10rem;
  }
  & {
    height: 48rem;
    width: 32rem;
    // background-color: #84c3dece;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

    transition: all 0.2s;
    &:hover {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
      transform: translateY(-0.5px);
    }
  }

  &-img-fig {
    object-fit: contain;
    overflow: hidden;
  }

  &-img {
    // height: ;
    height: 24rem;
    width: 100%;
  }
  &-details {
    padding: 2.2rem;
    &-heading {
      font-size: 2.8rem;
      padding-bottom: 2.2rem;
      color: #000;
    }
    &-para {
      font-size: 1.2rem;
      color: #00000084;
    }
  }
}
