// /********************/
// /*FOOTER SECTION*/
// /********************/

.footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background: linear-gradient(to right, rgb(120, 190, 220), #db6146);
  // width: 100%;
  // padding: 0 8rem;
}

.footer-connect {
  height: 80px;
  // background-color: aqua;
  display: flex;
  justify-content: center; /* center the inner box horizontally */
  align-items: center;
  gap: 22rem;

  &-form {
    display: flex;
    justify-content: center; /* center the inner box horizontally */
    align-items: center;
    gap: 1rem;
    flex: 0 0 40%;
    &-input {
      border: none;
      padding: 0.8rem 2rem;
      font-family: inherit;
      color: inherit;
      width: 32rem;
      transition: all 0.2s;
      margin-right: -11rem;
      // background-color: $color-grey-dark-2;
      &:focus {
        outline: none;
        // width: 70%;
      }
    }
    & > span {
      text-transform: uppercase;
      color: #000;
      font-size: 1.2rem;
    }

    &-submit {
      font-family: inherit;
      color: inherit;
      border: none;
      padding: 0.7rem 2rem;
      align-items: center;
      background: none;
      cursor: pointer;
      transition: all 0.2s;
      // display: flex;
      // align-items: center;
      &:focus {
        outline: none;
      }
      &:active {
        // transform: translateY(2px);
      }
      &:hover {
        color: red;
      }
    }
  }
  &-links {
    display: flex;
    gap: 1rem;
    & > span {
      text-transform: uppercase;
      color: #000;
      font-size: 1.2rem;
    }
    &-icons {
      display: flex;
      gap: 1rem;
      justify-content: center;
    }
  }
}
.nav-icon-social {
  height: 1.5rem;
  width: 1.5rem;
  &:hover {
    fill: blue;
  }
}

.nav-icon-sub {
  height: 1rem;
  width: 1rem;
  fill: $color-grey-dark-2;
}

.footer-main {
  // width: ;
  height: auto;
  // background-color: rgb(255, 0, 191);
  display: grid;
  grid-template-columns: repeat(5, 180px);
  grid-template-rows: 50px 140px;
  // grid-row-gap: 2px;
  justify-content: center;
  font-size: 1.2rem;
  grid-column-gap: 32px;
  padding-top: 4rem;
  // align-items: center;

  & > div {
    // background-color: black;
    align-items: center;
    justify-self: self-center;
    align-self: self-start;
    color: $color-grey-dark-2;
    align-items: center;
    // justify-content: center;
  }

  &-img-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    // justify-items: center;
    // align-items: center;
    // justify-content: center;
    // grid-column-gap: 1rem;
    grid-gap: 1rem;
    & > div {
      background-color: #000;
      overflow: hidden;
      // object-fit: cover;
      // height: 4rem;
      // width: 4rem;
    }
  }
  &-img {
    transition: all 0.2s;
    backface-visibility: hidden;
    // height: 4rem;
    // width: 4rem;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: fill;

    // display: block;

    &-insta-icon {
      position: relative;
      opacity: 0;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, 100%);
    }

    // &:hover &-insta-icon {
    //   opacity: 1;
    //   transform: translate(-50%, -50%); // Ends at center
    // }
    &:hover {
      filter: blur(1px) brightness(80%);
    }
  }
}
.nav-icon-social-overlay {
  fill: #ffffff92;
  height: 1.5rem;
  width: 1.5rem;
}
.image-container {
  position: relative;
  object-fit: cover;
  padding: auto;
  height: 5rem;
  width: 5rem;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 1.6rem;
}

.image-container:hover .overlay {
  opacity: 1;
}
.image-container:hover .footer-main-img {
  transform: scale(1);
  filter: blur(3px) brightness(80%);
}
.heading {
  padding-top: 1.4rem;
}
.heading-foot {
  padding-top: 4rem;
}

.footer-logo {
  height: 8rem;
}

.footer-nav {
  list-style: none;
  & li:not(:last-child) {
    padding-bottom: 1rem;
  }
}

.footer-link {
  text-decoration: none;
  font-size: 1.2rem;
  color: $color-grey-dark-2;
}

.footer-end {
  height: 6rem;
  // background-color: rgb(225, 255, 0);
  display: flex;
  justify-content: space-around;
  // padding: 0 12rem;
  align-items: center;
  // // gap: 8rem;
  // & > span {
  //   // margin-right: auto;
  // }

  &-cards {
    display: flex;
    gap: 1rem;
    & > div {
      height: 2rem;
      width: 4rem;
      background-color: #000;
    }
  }
}

// // .grid--footer {
// //   grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
// // }
// // .logo-col {
// //   display: flex;
// //   flex-direction: column;
// // }
// // .footer-logo {
// //   display: block;
// //   margin-bottom: 3.2rem;
// // }

// // .social-icon {
// //   height: 2.4rem;
// //   width: 2.4rem;
// // }

// // .copyright {
// //   font-size: 1.4rem;
// //   color: #767676;
// //   line-height: 1.6;
// //   margin-top: auto;
// // }

// // .social-links {
// //   list-style: none;
// //   display: flex;
// //   gap: 2.4rem;
// // }
// // .footer-heading {
// //   font-size: 1.8rem;
// //   font-weight: 500;
// //   margin-bottom: 4rem;
// // }

// // .contact {
// //   font-style: normal;
// //   font-size: 1.6rem;
// //   line-height: 1.6;
// // }
// // .address {
// //   margin-bottom: 2.4rem;
// // }

// // .footer-nav {
// //   list-style: none;
// //   display: flex;
// //   flex-direction: column;
// //   gap: 2.4rem;
// // }

// // .footer-link:link,
// // .footer-link:visited {
// //   text-decoration: none;
// //   font-size: 1.6rem;
// //   color: #767676;
// //   transition: all 0.3s;
// // }

// // .footer-link:hover,
// // .footer-link:active {
// //   color: #555;
// // }
