// /********************/
// /*FOOTER SECTION*/
// /********************/

.footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background: linear-gradient(
    to right,
    rgba(198, 214, 222, 0.959),
    rgb(69, 139, 169)
  );
  color: #07171e11;
}
.footer-form {
  display: flex;
}

/******************/
/*Footer Connect**/
/*****************/

.footer-connect {
  height: 80px;
  // background-color: aqua;
  display: flex;
  justify-content: space-between; /* center the inner box horizontally */
  align-items: center;
  gap: 22rem;
  padding: 4rem 20rem;
  padding-top: 4rem;
  font-size: 1.4rem;

  border-bottom: 0.1rem solid #ece8e854;
  &-form {
    display: flex;
    justify-content: center; /* center the inner box horizontally */
    align-items: center;
    gap: 1rem;
    flex: 0 0 40%;
    &-input {
      border: none;
      padding: 0.2rem 1rem;
      font-family: inherit;
      color: inherit;
      width: 32rem;
      transition: all 0.2s;
      margin-right: -12rem;
      // background-color: $color-grey-dark-2;
      &:focus {
        outline: none;
        // width: 70%;
      }
    }
    & > span {
      text-transform: uppercase;
      color: #07171e84;
      font-size: 1.4rem;
      width: 24rem;
    }

    &-submit {
      font-family: inherit;
      color: #07171e84;
      border: none;
      padding: 0.7rem 2rem;
      align-items: center;
      background: none;
      cursor: pointer;
      transition: all 0.2s;
      display: flex;
      gap: 1rem;
      &:focus {
        outline: none;
      }
      &:active {
        // transform: translateY(2px);
      }
      &:hover {
        color: $color-primary1-dark;
      }
    }
  }
  &-links {
    display: flex;
    gap: 1rem;
    & > span {
      text-transform: uppercase;
      color: #07171e84;
      font-size: 1.4rem;
    }
    &-icons {
      display: flex;
      gap: 1rem;
      justify-content: center;
    }
    &-social {
      font-size: 1.4rem;
    }
  }
}
.nav-icon-social {
  height: 1.5rem;
  width: 1.5rem;

  &:hover {
    cursor: pointer;
    fill: #07171e84;
    transform: scale(1);
  }
}

.nav-icon-sub {
  height: 1rem;
  width: 1rem;
  fill: $color-grey-dark-2;
}

/******************/
/**Footer Main**/
/*****************/

.footer-main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  font-size: 1.4rem;
  grid-column-gap: 1rem;
  padding: 4rem 20rem;
  grid-row-gap: 1rem;
  color: #07171e84;

  & > div {
    // background-color: black;
    align-items: center;
    justify-self: self-center;
    align-self: self-start;
    color: #07171e95;
    align-items: center;
  }

  &-img-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem !important;
    & > div {
      background-color: #000;
      overflow: hidden;
    }
  }
  &-img {
    transition: all 0.2s;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: fill;

    &-insta-icon {
      position: relative;
      opacity: 0;
    }
    &:hover {
      filter: blur(1px) brightness(80%);
    }
  }
}
.nav-icon-social-overlay {
  fill: #ffffff92;
  height: 2.4rem;
  width: 2.4rem;
  position: absolute;
  top: 2.4rem;
  left: 2.4rem;
}
.image-container {
  position: relative;
  object-fit: cover;
  padding: auto;
  height: 7rem;
  width: 7rem;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 1.6rem;
}

.image-container:hover .overlay {
  opacity: 1;
}
.image-container:hover .footer-main-img {
  transform: scale(1);
  filter: blur(3px) brightness(80%);
}
.heading {
  padding-top: 1.4rem;
}
.heading-foot {
  // padding-top: 4rem;
}

.footer-logo {
  height: 4rem;
}

.footer-nav {
  list-style: none;
  & li:not(:last-child) {
    padding-bottom: 1rem;
  }
}

.footer-link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #07171e84;
}

/******************/
/**Footer End**/
/*****************/
.footer-end {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  padding: 0rem 20rem;
  align-items: center;
  // background: linear-gradient(
  //   to right,
  //   rgba(198, 214, 222, 0.959),
  //   rgb(69, 139, 169)
  // );
  background-color: rgba(69, 139, 169, 0.189);
  &-copyright {
    font-size: 1.4rem;
    color: #07171e84;
  }
  &-cards {
    padding-right: 1rem;
    display: flex;
    gap: 1rem;
    & > div {
      // height: 2rem;
      // width: 4rem;
      // height: 4rem;
      // width: 5rem;
      // // background-color: #000;
    }
  }
  &-img {
    height: 3rem;
    width: 5rem;
    // background-position: cover;
    display: flex;
    // flex-direction: row;
    justify-content: center;
    align-items: center;
    object-position: center;
    object-fit: fill;
  }
}
