.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;

  padding: 0 4.8rem;
  color: $color-secondary;

  background-color: #fff;
}
.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 7rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;

  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
.logo {
  height: 8rem;
}

.main_nav {
  &-list {
    list-style: none;
    display: flex;
    gap: 3.2rem;
  }
  &-link:link,
  &-link:visited {
    text-decoration: none;
    color: #07171e;
    font-weight: 500;
    font-size: 1.4rem;

    display: flex;
    align-items: center;
  }
  &-link:active,
  &-link:hover {
  }
}

.nav-cta:link,
.nav-cta:visited {
  padding: 0.2em 0.5rem;
  font-size: 1.6rem;
  color: $color-primary1-dark;
  font-family: "Momo Trust Display", sans-serif;
  border-bottom: 0.4px solid transparent;
  font-weight: 300;
  transition: all 0.4s;
  &:hover {
    transform: translateY(1);
    border-bottom: 0.5px solid $button;
  }
}

.nav-icon {
  height: 1.5rem;
  width: 1.5rem;
  fill: $color-secondary;
}

.main-nav-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.5s;
  // border: 0.01rem solid transparent;
  &:hover {
    border-color: #054965;
    background-color: rgba(166, 211, 230, 0.281);
    transform: scale(0.9);
  }
}
