.section-hero {
  background-color: #fdf2e9;
  // margin-bottom: 2rem;
  height: 86vh;
  margin-top: 7rem;

  z-index: 1;
}

///////////////////////////
/// Hero Heading
///
.hero-content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  text-align: left;
  z-index: 5;

  max-width: 60rem;
}

.hero-heading {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 4.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  // color: rgb(0, 0, 0);
  // Optional: Text shadow for better visibility
  // text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);

  // Optional: Gradient text
  background: linear-gradient(to right, $color-primary, $color-primary-dark);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Momo Trust Display", sans-serif;
}

.hero-subheading {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 5.2rem;
  opacity: 0.95;
  color: #000;
}

.btn-hero {
  display: inline-block;
  padding: 1.5rem 3rem;
  background-color: #ea5e3fda; // Use your color variable
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 300;
  border-radius: 5px;
  transition: all 0.3s;
  font-family: "Momo Trust Display", sans-serif;
  &:hover {
    background-color: $color-primary1-dark;
    // transform: translateY(-3px);
    // box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  }
}

/* SLIDER */
.slider {
  height: 90vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.881) 0%,
      rgba(255, 255, 255, 0.063) 100%
    );
    z-index: 1;
    pointer-events: none; // Allow clicks to pass through
  }
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* THIS creates the animation! */
  transition: transform 1s;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: linear-gradient(
  //     to bottom,
  //     rgba(255, 255, 255, 0.4),
  //     transparent
  //   );
  //   pointer-events: none;
  // }
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: linear-gradient(to right, $color-primary, $color-primary-dark);
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(49, 41, 41, 0.232);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 3.2rem;
  width: 3.2rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #fff;
  opacity: 1;
}

.home-icon {
  height: 1.8rem;
  width: 1.8rem;
  fill: #fff;
}
