.section-product {
  &-heading {
    font-size: 2rem;
    font-weight: 600;
    color: #000;
    padding-bottom: 2rem;
    // text-transform: uppercase;
  }
}

.product-category {
  position: relative;
  &-container {
    display: flex;
    padding: 2rem;
    gap: 4rem;
  }

  & > img {
    height: 24rem;
    width: 24rem;
    // border-radius: 2rem;
    border-right: 2.4px solid black;
    border-bottom: 2.4px solid black;
  }

  &__img {
    backface-visibility: hidden;
    transition: all 0.5s;
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(
      -50%,
      100%
    ); // Changed from 20% to 100% - starts below center
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
    &__para {
      font-size: 1rem;
      font-weight: 300;
      padding-top: 1rem;
    }
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%); // Ends at center
  }

  &:hover &__img {
    transform: scale(1);
    filter: blur(3px) brightness(80%);
  }
}
