.testimonials {
  & {
    height: 16rem;
    width: 32rem;
    border-radius: 2rem;
  }
  &-container {
    display: flex;
    gap: 2rem;
    padding: 2rem;
  }
}

.review {
  background-color: #fff;
  box-shadow: var($shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
  border: 2px dashed #6b655ef8;
  background-color: #cfccc8f8;
  transition: all 0.2s;
  &__text {
    margin-bottom: 3rem;
    z-index: 10;
    position: relative;
  }

  &__user {
    display: flex;
    align-items: center;
  }
  &__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

  &__user-box {
    margin-right: auto;
  }
  &__user-name {
    font-size: 1.1rem;
    font-weight: 600;

    text-transform: uppercase;
    margin-bottom: 0.4rem;
  }
  &__user-date {
    color: var($color-grey-dark-3);
  }
  &__rating {
    color: var($color-primary);
    font-size: 2.2rem;
    font-weight: 200;
  }
  &::before {
    content: "\201c";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    color: $color-grey-light-3;
    font-family: sans-serif;
    z-index: 1;
  }
  &:hover {
    transform: rotate(1px);
  }
}
