.testimonials {
  & {
    height: 16rem;
    width: 32rem;
    // flex: ;
    // border-radius: 2rem;
    flex: 0 0 32rem;
  }

  &-container {
    display: flex;
    // gap: 8rem;
    padding: 2rem;
    overflow-x: auto;
    width: 90%;
    overflow: hidden;
    // border: 1rem solid black;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &-container-anumation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    animation: spin 20s infinite linear;
    padding-right: 1rem;
  }
}

.review {
  background-color: #fff;
  box-shadow: var($shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;
  // border-radius: 2rem;
  // border: 2px dashed #6b655ef8;
  background-color: #f2efebf8;
  transition: all 0.2s;
  &__text {
    margin-bottom: 3rem;
    z-index: 10;
    position: relative;
  }

  &__user {
    display: flex;
    align-items: center;
  }
  &__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

  &__user-box {
    margin-right: auto;
  }
  &__user-name {
    font-size: 1.1rem;
    font-weight: 600;

    text-transform: uppercase;
    margin-bottom: 0.4rem;
  }
  &__user-date {
    color: var($color-grey-dark-3);
  }
  &__rating {
    color: var($color-primary);
    font-size: 2.2rem;
    font-weight: 200;
    z-index: 10;
  }
  &::before {
    content: "\2018";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    color: #b9b4b45a;
    font-family: sans-serif;
    z-index: 1;
  }
  &::after {
    content: "\2019";
    position: absolute;
    top: 8.2rem;
    right: -1rem;
    line-height: 1;
    font-size: 20rem;
    color: #b9b4b45a;
    font-family: sans-serif;
    z-index: 1;
  }
  &:hover {
    transform: rotate(1px);
  }
}

@keyframes spin {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); // Moves exactly half the total width
  }
}

.heading-secondar-align {
  align-self: flex-start;
  margin-left: 8rem;
}
