<footer class="footer">
  <div class="footer-connect">
    <div class="footer-connect-form">
      <span>For Discount Connect Here</span>
      <form action="#">
        <input
          type="text"
          name="footer-connect-form-input"
          id="footer-connect-form"
          placeholder="Enter your email ..."
          class="footer-connect-form-input"
        />
        <button class="footer-connect-form-submit" type="submit">
          Subscribe
          <svg class="nav-icon-sub">
            <use xlink:href="img/svg/sprite.svg#icon-arrow-long-right"></use>
          </svg>
        </button>
      </form>
    </div>
    <div class="footer-connect-links">
      <span>On Social Media</span>
      <span class="footer-connect-links-icons"
        ><svg class="nav-icon-social">
          <use xlink:href="img/svg/sprite.svg#icon-facebook"></use>
        </svg>
        <svg class="nav-icon-social">
          <use xlink:href="img/svg/sprite.svg#icon-instagram1"></use>
        </svg>
        <svg class="nav-icon-social">
          <use xlink:href="img/svg/sprite.svg#icon-linkedin"></use>
        </svg>
        <svg class="nav-icon-social">
          <use xlink:href="img/svg/sprite.svg#icon-twitter"></use>
        </svg>
        <svg class="nav-icon-social">
          <use xlink:href="img/svg/sprite.svg#icon-pinterest"></use></svg
      ></span>
    </div>
  </div>

  <!-- ADD THE MISSING CLASSES HERE -->
  <div class="footer-main">
    <div>
      <a href="#" class="footer-logo">
        <img class="footer-logo" alt="Omnifood logo" src="img/logo/Logo_AD.png"
      /></a>
    </div>
    <div class="heading">CATEGORIES</div>
    <div class="heading">CUSTOMER</div>
    <div class="heading">COMPANY</div>
    <div class="heading">Follow us on Instagram</div>
    <div class="heading-foot">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim,
      perspiciatis magni? Nam illo odit
    </div>
    <div>
      <ul class="footer-nav">
        <li><a class="footer-link" href="">Recipe directory</a></li>
        <li><a class="footer-link" href="">Help center</a></li>
        <li><a class="footer-link" href="">Privacy & terms</a></li>
        <li><a class="footer-link" href="">Android app</a></li>
      </ul>
    </div>
    <div>
      <ul class="footer-nav">
        <li><a class="footer-link" href="">Recipe directory</a></li>
        <li><a class="footer-link" href="">Help center</a></li>
        <li><a class="footer-link" href="">Privacy & terms</a></li>
        <li><a class="footer-link" href="">Android app</a></li>
      </ul>
    </div>
    <div>
      <ul class="footer-nav">
        <li><a class="footer-link" href="">Recipe directory</a></li>
        <li><a class="footer-link" href="">Help center</a></li>
        <li><a class="footer-link" href="">Privacy & terms</a></li>
        <li><a class="footer-link" href="">Android app</a></li>
      </ul>
    </div>
    <div class="footer-main-img-grid">
      <div class="image-container">
        <img
          src="img/product_category/Category-1.jpg"
          alt="Hero_1"
          class="footer-main-img"
        />
        <div class="overlay">
          <svg class="nav-icon-social-overlay">
            <use xlink:href="img/svg/sprite.svg#icon-instagram1"></use>
          </svg>
        </div>
      </div>
      <div class="image-container">
        <img
          src="img/product_category/Category-2.jpg"
          alt="Hero_1"
          class="footer-main-img"
        />
        <div class="overlay">
          <svg class="nav-icon-social-overlay">
            <use xlink:href="img/svg/sprite.svg#icon-instagram1"></use>
          </svg>
        </div>
      </div>
      <div class="image-container">
        <img
          src="img/product_category/Category-4.jpg"
          alt="Hero_1"
          class="footer-main-img"
        />
        <div class="overlay">
          <svg class="nav-icon-social-overlay">
            <use xlink:href="img/svg/sprite.svg#icon-instagram1"></use>
          </svg>
        </div>
      </div>
      <div class="image-container">
        <img
          src="img/product_category/Category-5.jpg"
          alt="Hero_1"
          class="footer-main-img"
        />
        <div class="overlay">
          <svg class="nav-icon-social-overlay">
            <use xlink:href="img/svg/sprite.svg#icon-instagram1"></use>
          </svg>
        </div>
      </div>
      <div class="image-container">
        <img
          src="img/product_category/Category-3.jpg"
          alt="Hero_1"
          class="footer-main-img"
        />
        <div class="overlay">
          <svg class="nav-icon-social-overlay">
            <use xlink:href="img/svg/sprite.svg#icon-instagram1"></use>
          </svg>
        </div>
      </div>
      <div class="image-container">
        <img src="img/hero/Hero_1-.jpg" alt="Hero_1" class="footer-main-img" />
        <div class="overlay">
          <svg class="nav-icon-social-overlay">
            <use xlink:href="img/svg/sprite.svg#icon-instagram1"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <!-- ADD THE MISSING CLASS HERE -->
  <div class="footer-end">
    <span>© 2025 AD Enterprises</span>
    <div class="footer-end-cards">
      <div>
        <img
          src="img/product_category/70535-credit-vector-card-mastercard-logo-free-frame.png"
          alt="Hero_1"
          class="footer-main-img"
        />
      </div>
      <div>2</div>
      <div>3</div>
      <div>4</div>
    </div>
  </div>
</footer>
